:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #f5f5f5;
    --secondary-color: #C8950D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:  var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    height: 80px;
    background-color: var(--text-color);
}

nav .logo {
    width: 45px;
}

nav .right a {
    color: var(--secondary-color);
    margin: 0 10px;
}

/* SECTION 1: introduction section */
.introduction-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/background.webp);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}

.introduction-section h1 {
    color: var(--secondary-color);
    font-size: 80px;
}
/* SECTION 2: about me section */
.aboutme-section {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
    gap: 100px;
    background-color: var(--text-color);
}

.aboutme-section .text {
    flex: 5;
    text-align: justify;
}

.aboutme-section .text h2 {
    font-size: 80px;
    color: var(--secondary-color);
}

.aboutme-section .text p {
    font-size: 30px;
    color: var(--background-color);
}

.aboutme-section .aboutme-image {
    flex: 3;
}

.aboutme-section .aboutme-image img {
    width: 300px;
    border-radius: 50%;
}

/* SECTION 3: projects section */
.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: var(--background-color);
}

.projects-section h3 {
    font-size: 80px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 30px;
    border-bottom: 5px solid var(--secondary-color);
}

.projects-section .first-project {
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
}

.projects-section .first-project h4 {
    font-size: 40px;
    padding-left: 20px;
    color: var(--secondary-color);
}

.projects-section .first-project p {
    padding-left: 20px;
    color: var(--text-color);
}

.projects-section .second-project {
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
}

.projects-section .second-project h5 {
    font-size: 40px;
    padding-left: 20px;
    color: var(--secondary-color);
}

.projects-section .second-project p {
    padding-left: 20px;
    color: var(--text-color);
}

.projects-section .github-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin-top: 20px;
    gap: 12px;
    color: var(--secondary-color);
    text-decoration: none;
}

/* SECTION 4: skills section */
.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 85px 100px;
    background-color: var(--text-color);
}

.skills-section h6 {
    font-size: 80px;
    font-weight: 600;
    color: var(--secondary-color);
    border-bottom: 5px solid var(--background-color);
}

.skills-section .languages {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
.skills-section .languages .language img {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    object-fit: contain;
}
.skills-section .languages .language {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.skills-section .languages .language span{
    color: var(--background-color)
}

/* SECTION 5: footer contents section */
.footercontents-section {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footercontents-section .footer-column {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footercontents-section .footer-column h7 {
    font-size: 80px;
    font-weight: 600;
    color: var(--text-color);
    border-bottom: 5px solid var(--secondary-color);
}

.footercontents-section .footer-column .footer-logo img {
    width: 80px;
}

.footercontents-section .footer-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 20px;
}

.footercontents-section .footer-row a{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

/* SECTION 6 (responsive): introduction section */
@media (max-width: 1100px) {
    /* responsive section 1 design */
    .introduction-section h1{
        font-size: 30px;
    }
}
@media (max-width: 1030px) {
    /* responsive section 2 design */
    .aboutme-section .text h2{
        font-size: 35px;
    }
    .aboutme-section .text p{
        font-size: 20px;
    }
}
@media (max-width: 800px) {
    /* responsive section 2 design */
    .aboutme-section {
        flex-direction: column-reverse;
        padding: 50px;
    }

    .skills-section .languages{
        flex-direction: column-reverse;
    }
}
/* responsive nav design */
@media (max-width: 600px) {
    nav .right a{
        font-size: 20px;
    }

    nav .right a span{
        display: none;
    }
}